

footer{
  display:  grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  position:fixed;
  bottom:0;
  left:0;
  width: 100vw;
  background-color: #BF1E2E; 
  text-align: center;
  padding: 10px 10px 10px 10px;
  
}

/* Column One */
.columnOne{
  /* display: flex;
  flex-direction: column; */
  /* margin-top: 40px; */
  font-size: 24px;
  color: #FFFFFF;
  align-self: center;
  text-align: left;
  
}

h3{
  color: #FFFFFF;
  margin-left: 70px;
  
}

a {
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  display: inline;
  cursor: pointer;
  position: relative;
  /* font-family: Oswald; */

}



/* Column two */
.columnTwo{
  align-self: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* margin-top: -100px; */
}


/* Column Three */
.columnThree{
  align-self: center;
  /* display: flex;
  flex-direction: column; */
  /* margin-left: 1080px;
  margin-top: -110px; */
}

.columnThree img {
  width: 30%;
  height: 30%;
}

@media (max-width: 50rem){
footer{
  grid-template-columns: 1fr;
}

.columnThree img{
width: 100%;
height: 100%;
}

}